.fontsList {
    position: absolute;
    top: 52px;
    left: 0;
    height: 405px;
    width: 250px !important;
    overflow-y: auto;
    padding: 5px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.fontOption {
    height: 42px;
    width: 100%;
    margin: 0;
    padding: 0 50px 0 15px;
    background-color: transparent;
    font-size: 18px;
    text-align: left;
    color: black;
}
.fontSelected  {
    
}