.cancel {
    --background: rgb(227, 227, 227);
    --color: black;
    --border-width: 2px;
    --border-style: solid;
    --border-color: initial;
    border-image: initial;
    position: relative;
    height: 60px;
    --width: 50%;
    --border-radius: 12px;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: 0;
    margin-left: 6px;
    appearance: none;
    cursor: pointer;
    font-family: montserrat;
    line-height: 1;
    background-color: #e3e3e3;
    border-radius: 15px;
    --box-shadow:none;
}




.save {
    box-shadow: none;
    position: relative;
    height: 60px;
    --width: 50%;
    --border-radius: 12px;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --background: black;
    --color: #e3e3e3;
    border: 0;
    padding: 0;
    margin-right: 16px;
    outline: 0;
    appearance: none;
    cursor: pointer;
    font-family: montserrat;
    line-height: 1;
    --box-shadow:none;
    --boxShadow:none;
    --background-activated-opacity:none;
    --background-focused-opacity:none;
    --background-focused:none;
    --background-hover-opacity:none;
    --background-hover:none;
    --background-activated:none;
    --ripple-color:none;
    --transition: none;


}


.BtnFlow {
    position: absolute;
    bottom: 7px;
    width: 100%;
}


.material_symbols_outlined {
    padding: 4px;
    font-size: 28px;
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


@media (max-width: 768px) {



}
